body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

.link-btn {
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    padding: 10px 40px;
    color: white;
    font-weight: 700;
    border-radius: 5px;
}

.top-bg {
    background-image: url(images/donation13.jpg);
    height: 500px;
    color: white;
    margin-bottom: 150px;
    background-size: cover;
    background-repeat: no-repeat;

}

.top-font {
    font-size: 50px;
}

.top-text {
    text-align: center;
    padding-top: 100px;
}

.donate-today {
    text-align: center;
    margin-bottom: 50px;
}

.donate-now {
    text-align: center;
    margin-bottom: 120px;
}

.amount {
    display: flex;
    /* width: 2000px;
    height: 65px; */
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    font-size: 25px;
    padding-left: 10px;
    padding-right: 10px;
    justify-content: space-evenly;
    border-radius: 2px;
    margin-bottom: 50px;
}

.amount h2:hover {
    color: red;
    transform: scale(1.9);
    background-color: rgb(183, 114, 114);
    z-index: 2;
}

.input-field {
    text-align: center;
    box-sizing: border-box;
    margin-bottom: 40px;
}

.input-field input {
    width: 1000px;
    height: 30px;
    font-size: 17px;
    text-align: center;
    border: none;
    border-bottom: 2px solid silver;
}

.card1 {
    width: 450px;
    height: 300px;
    background-color: rgba(47, 170, 184, 0.1);
    justify-items: center;
    text-align: left;
}

.card2 {
    width: 450px;
    height: 300px;
    background-color: rgba(255, 89, 89, 0.1);
    justify-items: center;
    text-align: left;
}

.card3 {
    width: 450px;
    height: 300px;
    background-color: antiquewhite;
    justify-items: center;
    text-align: left;
}


.food-family {
    padding-top: 10px;
    padding-left: 10px;
}

.our-donate-plan {
    display: flex;
    justify-content: space-around;
    margin-bottom: 150px;
}

.footer {
    background-color: black;
    text-align: center;
    height: 200px;
    padding-top: 20px;
    color: white;
}

.humble-color {
    color: #FF5959;
}

.bonus-part {
    display: flex;
    margin-bottom: 100px;
}

.half-width {
    padding-left: 5%;
    width: 50%;
}

.half-width img {
    width: 50%;
    height: 400px;
}

.bonus-part p {
    text-align: left;
}

.my-update {
    margin-bottom: 80px;
}

.full-mail-part {
    width: 600px;
    height: 190px;
    margin-left: 620px;
    background-color: antiquewhite;
    margin-bottom: 100px;
    text-align: center;
}

.mail-body {
    padding-top: 80px;
}


.mail-button-color {
    background-image: linear-gradient(orange, tomato);
    padding: 10px 40px;
    color: white;
    font-weight: 700;
    border-radius: 10px;
}

.email {
    font-weight: 700;
    border-radius: 10px;
    background-color: silver;
    padding: 10px 40px;
}